body{
    background-color: var(--white-creamy--) !important;
    width: 100vw;
    overflow-y: scroll;
}

ul li::marker{
    color: var(--red-dark--);
}
  
#navbar{
    position: fixed;
    z-index: 2;
    background-color: var(--white-creamy--);
}

#navbar .nav-link h4{
    color: var(--red-dark--) !important;
}

#navbar .nav-link.active h4{
    color: var(--blue-dark--) !important;
}

#navbar .nav-link:hover h4{
    transform: rotate(-6deg);
}

.section{
    width: 100%;
    padding: 2vmin 0;
}

.section.heading{
    height: 80vh;
    padding: 0;
}

.section.heading img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top;
    filter: sepia(10%) opacity(90%);
    -webkit-filter: sepia(10%) opacity(100%) brightness(30%);
}

.section.heading h1{
    z-index: 1;
    transform: translateY(-50vh);
    color: var(--white-creamy--);
    text-align: center;
}

.section.heading h1{
    color: var(--white-creamy--);
    font-size: 12rem;
    text-align: center;
    padding-right: 4%;
}

.section.background{
    position: relative;
    margin-top: 20vh;
}

.section.background{
    padding: 8vmin 0;
    background-color: var(--red-dark--);
}

.section.background .content{
    display: flex;
    width: 60%;
    margin: auto;
    gap: 5%;
}

.section.background .col-12.content .col-xl-6 p{
    text-align: justify;
    color: var(--white-creamy--);
    line-height: 2;
}

.col-12.head{
    padding: 4vmin 0;
}

.col-12.head h1{
    text-align: center;
    color: var(--red-dark--);
}

.section.edu{
    padding: 4vmin 0;
}

.section.edu .col-12.content{
    display: flex;
    width: 90%;
    margin: auto;
    gap: 6%;
}

.section.edu .col-12.content{
    display: flex;
    align-items: center;
}

.section.edu .col-12.content .col-xl-6 img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    margin: auto;
    opacity: 90%;
    filter: brightness(70%);
}

.section.edu .col-12.content .col-xl-6 .row{
    border-bottom-width: 2px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: var(--red-dark--);
    width: 80%;
}

.section.edu .col-12.content .col-xl-6 .row .time{
    padding-top: 2vmin;
}

.section.edu .col-12.content h3{
    color: var(--red-dark--);
}

.section.edu .col-12.content h4{
    color: var(--red-dark--);
}

.section.edu .col-12.content p{
    color: var(--red-dark--);
}

.section.edu .col-xl-6 .achieve{
    padding: 2vmin 0;
}

.section.skills{
    padding: 4vmin 0;
    margin: auto;
    width: 100%;
}

.section.skills .col-12.content{
    width: 60%;
    display: flex;
    margin: auto;
    gap: 3vw;
    justify-content: center;

}

.section.skills .col-12.content .col-xl-6{
    border-width: 2px;
    border-style: solid;   
    border-color: var(--red-dark--); 
    padding: 4vmin;
}

.section.skills .col-12.content .col-xl-6 h3{
    padding: 2vmin 0;
    color: var(--red-dark--);
}

.section.skills .col-12.content .col-xl-6 p{
    padding: 0.5vmin 0;
    line-height: 1.5;
    color: var(--red-dark--);
}

.section.skills .col-12.content .col-xl-6 ul{
    width: 70%;
    display: flex;
    gap: 3vw;
    margin: auto;
    padding: 2vmin 0;
    justify-content: space-between;
}

.section.skills .col-12.content .col-xl-6 ul li{
    width: 10%;
    list-style: none;
}

.section.skills .col-12.content .col-xl-6 ul li img{
    width: 100%;
    height: auto;
}

.section.cert{
    display: block;
}

.section.cert .col-12.content{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    gap: 1vw;
    justify-content: center;
}

.section.cert .col-12.content .col-xl-3{
    border-style: solid;
    border-width: 2px;
    border-color: var(--red-dark--);
    width: 15%;
}

.section.cert .col-12.content .col-xl-3 .row{
    width: 100%;
    margin: auto;
}

.section.cert .col-12.content .col-xl-3 .row .time h4{
    text-align: center;
    color: var(--red-dark--);
}

.section.cert .col-12.content .col-xl-3 .row .time h3{
    text-align: center;
    color: var(--red-dark--);
    padding: 0.5vmin 0;

}
.section.cert .col-12.content .col-xl-3 .row .time p{
    text-align: center;
    color: var(--red-dark--);

}
.section.cert .col-12.content .col-xl-3 .row .achieve p{
    text-align: center;
    color: var(--red-dark--);
    padding: 2vmin 0;

}

.section.cert .col-12.content .col-xl-3 .row{
    padding: 2vmin 0;
    min-height: 24vh;
}

.section.cert .col-12.content .col-xl-3 .row .time{
    height: 10vh;
}


.section.cert .col-12.content .col-xl-3 img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center;
    opacity: 90%;
}

.seemore-btn{
    margin: auto;
    padding: 12px 30px;
    border-style: solid;
    border-radius: 30px;
    border-width: 1.5px;
    border-color: var(--red-dark--);
}

.seemore-btn h4{
    font-size: 1.25rem !important;
}


/* small desktop */
@media screen and (max-width: 1440px) {
    h1{
        font-size: 12vmin !important;
    }

    h4{
        font-size: 1rem !important;
    }

    .section.heading h1{
        transform: translateY(-55vh);
    }

    .section.background .content{
        width: 70%;
        margin: auto;
    }

    .section.background .col-12.content .col-lg-6 p{
        line-height: 1.8;
    }
    
    .section.edu .col-12.content{
        width: 80%;
    }

    .section.skills .col-12.content{
        width: 80%;
    }

    .section.cert .col-12.content{
        width: 90%;
    }

    .section.cert .col-12.content .col-lg-4{
        width: 30%;
    }
    
    .section.cert .col-12.content .col-lg-4 .row .time{
        height: 14vh;
    }
    .section.cert .col-12.content .col-lg-3 .row .time h3{
        font-size: 1.5rem !important;
    }

    .section.edu .col-12.content .col-lg-6 .row{
        border-bottom-width: 1px;
    }

    .section.cert .col-12.content .col-lg-4 .row{
        border-width: 1px !important;
    }
}

/* tablet screen size */
@media screen and (max-width: 1024px), (device-width:1024px) {

    h1{
        font-size: 12vmin !important;
    }

    h4{
        font-size: 14px !important;
    }

    .section.background .content{
        flex-wrap: wrap;
    }

    .section.background .col-12.content .col-md-12.viet-text{
        padding: 2vmin 0;
    }

    .section.edu .col-12.content{
        flex-wrap: wrap;
    }

    .section.edu .col-12.content .col-md-12{
        padding: 2vmin 0;
    }

    .section.edu .col-12.content .col-md-12 .row .time h4{
        text-align: center;
    }
    .section.edu .col-12.content .col-md-12 .row .time h3{
        text-align: center;
    }
    .section.edu .col-12.content .col-md-12 .row .time p{
        text-align: center;
    }

    .section.edu .col-12.content .col-md-12 .row .achieve ul li{
        width: fit-content;
        margin: auto;
    }
    
    .section.edu .col-12.content .col-md-12 .row .achieve p{
        text-align: center;
    }

    .section.edu .col-12.content .col-md-12 h1{
        text-align: center !important;
    }

    .section.edu .col-12.content .col-md-12 .row{
        margin: auto;
        border-bottom-width: 1px;
        width: 100%;
    }
    
    .section.skills{
        padding: 0;
    }

    .section.skills .col-12.head{
        padding: 4vmin 0;
    }

    .section.skills .col-12.content{
        flex-wrap: wrap;
    }

    .section.cert .col-12.content .col-md-6{
        width: 40%;
    }    
}

/* mobile screen size */
@media screen and (max-width: 480px) {
    h1{
        font-size: 12vmin !important;
    }

    h3{
        font-size: 17px !important;
    }

    p{
        font-size: 14px;
    }

    .section.heading h1{
        padding: 0;
    }
    .section.skills .col-12.content .col-sm-12{
        border-width: 1px;
    }

    .section.skills .col-12.content .col-sm-12 ul{
        padding: 1vmin 0;
        gap: 1vw;
    }
    .section.skills .col-12.content .col-sm-12 ul li{
        width: 14%;
    }

    .section.skills .col-12.content .col-sm-12 p span{
        font-weight: 500 !important;
    }

    .section.cert{
        padding: 8vmin 0;
    }
    
    .section.cert .col-12.content{
        gap: 3vmin;
    }

    .section.cert .col-12.content .col-sm-12{
        width: 90%;
        border-width: 1px;
    }

    .section.cert .col-12.content .col-sm-12 .row .time h3{
        font-size: 17px;
    }





}