
:root{
    --blue-medium--: rgb(125, 161, 196);
    --blue-dark--: rgb(43, 80, 117);
    --blue-highlight--: rgb(166, 203, 245);
    --white-highlight--: rgb(250, 248, 245);
    --white-creamy--: rgb(246, 244, 237);
}

a{
    text-decoration: none !important;
}

html{
    font-size: 16px;
}

h1{
    font-family: "Italiana", sans-serif;
    font-size: 8rem !important;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    margin: 0 !important;
}

h2{
    font-family: "Xanh Mono", monospace;   
    font-size: 2.75rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 !important;
}

h3{
    font-family: "Xanh Mono", monospace;    
    font-size: 1.5rem !important;
    font-weight: 400;
    line-height: 2;
    margin: 0 !important;
    color: var(--blue-dark--);
}

h4{
    font-family: "Xanh Mono", monospace;    
    font-size: 1.25rem !important;
    font-weight: 400;
    margin: 0 !important;
}

p{
    font-family: "Xanh Mono", monospace;    
    font-size: 1.2rem !important;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 4px !important;
}

a{
    text-decoration: none;
}

body{
    width: 100vw;
    height: fit-content;
    margin: 0;
    background-color: var(--white-creamy--);
}

#navbar{
    width: 100vw;
    height: fit-content;
    padding-top: 2.5vh;
    padding-bottom: 2vh;
    background-color: rgba(166, 203, 245, 80%);
    position: fixed;
    z-index: 1;
}

#navbar ul{
    width: 30vw;
    display: flex;
    margin: auto;
    padding: 0%;
    justify-content: space-between;
}

#navbar ul li{
    list-style: none;
}

.nav-link.active h3{
    color: var(--blue-dark--)
}

.nav-link h3{
    color: var(--white-highlight--);
}

button{
    background-color: transparent;
    border-radius: 2px;
    border-width: 1px;
    padding: 8px 16px;
    border-color: var(--blue-dark--);
}

/* tablet screen size */
@media screen and (max-width: 1024px) {
    h1{
        font-size: 10vmin !important;
    }

    h3{
        font-size: 2.25vmin !important;
    }

    #navbar ul{
        width: 50vw;
    }
}

/* mobile screen size */
@media screen and (max-width: 480px) {
    h1{
        font-size: 10vmin !important;
    }

    h3{
        font-size: 3.75vmin !important;
    }

    p{
        font-size: 1rem !important;
    }
    #navbar ul{
        width: 70vw;
        margin: auto;
        padding: 0;
    }

    
    }
    