body{
    background-color: #040201 !important;
    overflow-x: hidden;
}

h1{
    font-family: "Montserrat", sans-serif !important;
    font-size: 8rem !important;
    font-weight: 800 !important;
    color: #F5F5F5;
    text-align: right !important;
}

h2, h3, h4, p{
    font-family: "Montserrat", sans-serif !important;
}

img{
    border-radius: 30px;
}

#navbar{
    background-color: #2B293E !important;
}

#navbar ul li a h3{
    font-family: "Xanh Mono", monospace !important;    
    font-size: 1.5rem !important;
    font-weight: 400;
    line-height: 2;
    margin: 0 !important;
}

.nav-link.active h3{
    color: #FEBBA0 !important;
}

.nav-link h3{
    color: #F5F5F5 !important;
}

.eng-text, .viet-text{
    padding: 1vmin 0;
}

.eng-text h1{
    color: #CCB8E6;
}

.eng-text h2{
    font-style: italic;
    padding: 2vmin 0;
    color: #CCB8E6;
}

.eng-text p{
    font-weight: 300;
    font-style: italic;
    color: #F5F5F5;
}

.banner{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
    padding-top: 10vh;
}

.col-12 img{
    width: 100%;
    border-radius: 30px;
}

.section.summary h1, h2 {
    color: #BE97C3 !important;
    font-style: italic;
}

.section.summary h4, p{
    color: antiquewhite;
    font-weight: 300;
    line-height: 1.75;
}

.section{
    padding: 2vmin 0;
}

.section .col-12.intro{
    width: 70%;
    margin: auto;
}

.section.summary{
    width: 100%;
    margin: auto;
}

.section.summary .row{
    gap: 2vw;
    padding: 1vmin;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    width: 60%;
}

.section.summary .row .col-xl-6{
    margin: auto;
    border-radius: 30px;
}

.section.summary .col-xl-6{
    padding: 2vmin 2vmin;
    background-color: #161616;
}

.col-xl-6 .row.icon{
    height: fit-content;
}

.col-xl-6 .row.text{
    display: block;
}

.col-xl-6 .row.icon img{
    width: 20%;
    height: 20%;
}

.col-xl-6 .row.text h3{
    width: fit-content;
    margin: auto !important;
    color: #BE97C3;
    padding-bottom: 2vmin;
}

.col-xl-6 .row.text h4{
    width: fit-content;
    margin: auto !important;
}

.col-xl-6 .eng-text, .col-xl-6 .viet-text{
    width: 85%;
}

.section.overview{
    width: 80%;
    margin: auto;
    gap: 2vmin;
    padding: 2vmin 0;
}

.section.overview .col-12 img{
    margin: auto;
    height: 70vh;
    object-fit: cover;
    object-position: center;
}

.section.overview.solution{
    display: flex;
    align-items: center;
}

.section.overview .col-xl-6 .eng-text h2, .section.overview .col-xl-6 .eng-text p{
    text-align: right;
}

.section.overview .col-xl-6 .viet-text p{
    text-align: right;
}

.section.overview .col-xl-6 img{
    width: 100%;
}

.row img{
    width: 70%;
    margin: auto;
    border-radius: 30px;
}

.section.flow{
    width: 80%;
    margin: auto;
    gap: 2vmin;
    padding: 2vmin 0;
}

.section.flow .col-12.intro .eng-text h2{
    text-align: center;
}

.section.flow .col-12.intro .eng-text p{
    text-align: center;
}

.section.flow .col-12.intro .viet-text p{
    text-align: center;
}

.section.flow .row img{
    width: 70%;
}

.row.intro .eng-text{
    margin: auto;
}

.row.intro .eng-text h3{
    color: #BE97C3;
    text-align: center;
}

.row.userflow .col-12.intro{
    padding-bottom: 2vmin;
}
.row.userflow .col-xl-6.col-lg-6.col-md-6{
    display: grid;
}

.section.wireframe .col-12.intro .eng-text h2{
    text-align: center;
}

.section.wireframe .col-12.intro .viet-text {
    padding-bottom: 2vmin;
}

.section.wireframe .col-12.intro .eng-text p{
    text-align: center;
}

.section.wireframe .col-12.intro .viet-text p{
    text-align: center;
}

.section.wireframe .row img{
    padding: 2vmin 0;
}


.section.style .col-12.intro .eng-text h2{
    text-align: center;
}

.section.wirestyleframe .col-12.intro .viet-text {
    padding-bottom: 2vmin;
}

.section.style{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.section.style .col-12.intro .eng-text p{
    text-align: center;
}

.section.style .col-12.intro .viet-text p{
    text-align: center;
}

.section.style .col-xl-6.col-lg-6.col-md-6{
    padding: 2vmin 0;
    display: flex;
}

.section.style .col-xl-6.col-lg-6.col-md-6 img{
    width: 96%;
    margin: auto;
}

.row.overlap{
    display: flex;
    width: 90%;
    margin: auto;
    height: 90vh;
}

.col-12.overlap{
    display: flex;
}

.col-12.overlap img{
    width: 100% !important;
}

.overlap{
    z-index: -1;
}

.row.overlap .overlap img{
    width: 100%;
}

.overlap2{
    z-index: 0;
    height: fit-content;
    display: flex;
    transform: translateY(-70%);
}

.overlap2 img{
    width: 100%;
}

.section.style .row.col-12{
    display: flex;
    padding: 4vmin 0;
}

.section.style .col-12 img{
    width: 80%;
    margin: auto;
}

.row.ending{
    padding-bottom: 3vmin;
}

.row.ending img{
    width: 80%;
}


/* small desktop screen */
@media screen and (max-width: 1440px){

    p{
        font-size: 1rem !important;
    }
    
    h2{
        font-size: 2.25rem !important;
    }
    .banner{
        width: 90vw;
    }

    .banner .col-12{
        padding-top: 3vmin;
    }

    .section .col-12.intro{
        width: 80%;
    }

    .row img{
        padding: 2vmin 0;
    }

    .col-lg-6 .row.icon img{
        width: 24%;
    }

    .col-lg-6 .row.text{
        width: 90%;
    }

    .col-lg-6 .row.text h3{
        line-height: 1.2;
        font-size: 1.2rem !important;
    }

    .col-lg-6 .row.text h4{
        font-size: 16px;
    }

    .col-lg-6 .row.text h3, .col-lg-6 .row.text h4{
        text-align: center;
    }

    .section.overview.solution .col-lg-6 .eng-text{
        width: 90%;
    }

    .section.overview.solution .col-lg-6 .viet-text{
        width: 90%;
    }

    .section.flow .row img{
        width: 85%;
    }

    .row.intro .eng-text h3{
        font-size: 1.2rem !important;
    }

    .section.wireframe{
        display: block;
        width: 80%;
        margin: auto;
    }

    .section.wireframe .row img{
        width: 100%;
    }

    .section.style .col-12 img{
        width: 100%;
    }

    .row.overlap{
        height: 85vh;
        width: 100%;
        padding-top: 1vmin !important;
    }
}

/* tablet screen size */
@media screen and (max-device-width: 1024px) and (min-device-width: 768px){

    .banner{
        padding-top: 8vh;
    }

    .section{
        width: 90% !important;
    }

    .section.summary .row{
        width: 90%;

    }

    .section .col-12.intro{
        width: 100%;
    }

    .section.summary .row .col-lg-6.col-md-6 .row.text{
        width: 90%;
        padding: 2vmin 0;   
    }

    .section.summary .row .col-lg-6.col-md-6 .row.text h4{
        padding-left: 0;
        padding-right: 0;
    }

    .section.summary .row .col-lg-6.col-md-6 .row.icon img{
        width: 16%;
    }

    .section.overview.solution{
        flex-wrap: wrap;
    }

    .section.overview.solution .col-lg-6.col-md-12 .eng-text{
        width: 100%;
    }

    .section.overview.solution .col-lg-6.col-md-12 .viet-text{
        width: 100%;
    }

    .section.overview.solution .col-lg-6.col-md-12 .eng-text h2{
        text-align: center !important;
    }

    .section.overview.solution .col-lg-6.col-md-12 .eng-text p{
        text-align: center !important;
    }
    .section.overview.solution .col-lg-6.col-md-12 .viet-text p{
        text-align: center !important;
    }

    .section.overview .col-12 img{
        height: 35vh;
    }
    .row img{
        width: 100%;
    }

    .section.flow .row img{
        width: 100%;
    }

    .row.intro .eng-text{
        width: 90%;
    }

    .section.style .col-md-12{
        display: flex;
        flex-wrap: wrap;
    }

    .section.style .row.col-12{
        padding: 1vmin 0;
    }

    .section.style .col-md-12 img{
        width: 80%;
        margin: auto;
    }

    .row.overlap{
        height: 45vh;
    }

    .row.ending img{
        width: 90%;
    }
}

@media screen and (device-width: 1024px) {
    
    p{
        font-size: 1.2rem !important;
    }

    .banner{
        padding-top: 8vh;
    }

    .section{
        width: 90% !important;
    }

    .section.summary .row{
        width: 90%;

    }

    .section .col-12.intro{
        width: 100%;
    }

    .section.summary .row .col-lg-6 .row.text{
        width: 90%;
        padding: 2vmin 0;   
    }

    .section.summary .row .col-lg-6 .row.text h4{
        padding-left: 0;
        padding-right: 0;
    }

    .section.summary .row .col-lg-6.col-md-6 .row.icon img{
        width: 16%;
    }

    .section.overview.solution{
        flex-wrap: wrap;
    }

    .section.overview.solution .col-lg-12 .eng-text{
        width: 100%;
    }

    .section.overview.solution .col-lg-12 .viet-text{
        width: 100%;
    }

    .section.overview.solution .col-lg-12 .eng-text h2{
        text-align: center !important;
    }

    .section.overview.solution .col-lg-12 .eng-text p{
        text-align: center !important;
    }
    .section.overview.solution .col-lg-12 .viet-text p{
        text-align: center !important;
    }

    .section.overview .col-12 img{
        height: 35vh;
    }
    .row img{
        width: 100%;
    }

    .section.flow .row img{
        width: 100%;
    }

    .row.intro .eng-text{
        width: 90%;
    }

    .section.style .col-md-12{
        display: flex;
        flex-wrap: wrap;
    }

    .section.style .row.col-12{
        padding: 1vmin 0;
    }

    .section.style .col-lg-6 img{
        width: 80%;
        margin: auto;
    }

    .row.overlap{
        height: 45vh;
    }

    .row.ending img{
        width: 90%;
    }
}

/* mobile screen size */
@media screen and (max-width: 480px) {

    #navbar ul li a h3{
        font-size: 3vmin !important;
    }

    .banner-image{
        border-radius: 14px !important;
    }

    .section.section.summary{
        width: 90%;
    }

    .section.summary .row{
        flex-wrap: wrap;
        width: 100%;
    }

    .section.summary .row .col-sm-12{
        border-radius: 20px;
    }


    .col-sm-12 .row.icon img{
        width: 8%;
    }

    .section.summary .col-sm-12 .row.text h3{
        font-size: 1.2rem !important;
    }

    .section.summary .col-sm-12 .row.text h4{
        font-size: 14px !important;
    }

    .section.overview{
        width: 90%;
    }

    h2{
        font-size: 2rem !important;
    }

    p{
        font-size: 15px !important;
        font-weight: 300;
    }

    img{
        border-radius: 20px;
    }

    .section .col-12.intro .viet-text p{
        font-size: 15px !important;
        font-weight: 300;
    }

    .section .col-12.intro{
        width: 90%;
    }

    .section.overview.solution{
        flex-wrap: wrap;
    }

    .section.overview.solution .col-sm-12 .eng-text, .section.overview.solution .col-sm-12 .viet-text{
        margin: auto;
        width: 90%;
    }

    .section.overview.solution .col-sm-12 .eng-text p{
        font-weight: 300;
    }

    .section.overview.solution .col-sm-12 .viet-text p{
        font-weight: 300;
    }

    .row img{
        width: 100%;
    }

    .section.flow{
        width: 90%;
    }

    .section.flow .row img{
        width: 90%;
    }
    
    .section.wireframe{
        width: 90%;
    }

    .section.wireframe .row img{
        width: 90%;
    }

    .section.style{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
    }

    .section.style .col-sm-12{
        width: 100%;
        display: flex;
    }

    .section.style .col-sm-12 img{
        width: 94%;
        margin: auto;
    }

    .section.style .row.col-12{
        margin: auto;
    }

    .row.overlap{
        height: 30vh;
    }

    .section.style .col-12 img{
        border-radius: 20px;
    }

    .row.ending img{
        width: 90%;
        border-radius: 20px;
    }
}
