body{
    background-color: #fbeef2 !important;
    overflow-y: scroll !important;
}

h3{
    font-size: 1.75rem;
}

h4{
    font-size: 1.25rem !important;
}

p{
    font-size: 1.2rem !important;
}

#navbar{
    background-color: rgba(178, 0, 59, 0.6) !important;
    border-width: 0.5px !important;
}

.nav-link h4{
    color: #fbeef2 !important;
}

.banner{
    width: 100vw;
    height: 86vh;
    background-image: url(img/nhon/cookiebox-dark.png);
    background-position: center;
    background-size: cover;
}

.banner .banner-text{
    width: 20%;
    height: auto;
    margin: auto;
    display: flex;
    padding-top: 35vh;
}

.section{
    width: 80%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
}

.section .col-xl-6 img, .col-12 img{
    width: 100%;
}


.section .col-xl-6.left .redgirl{
    padding: 60px 0;
    height: 100vh;
    object-fit: cover;
    object-position: top;
    
}

.col-xl-6.right .intro-text{
    width: 90%;
    margin: auto;
    padding: 30% 6%;
    animation: reveal ease-out;
    animation-timeline: view();
    animation-range: cover 10% cover 40%;
}

.intro-text .eng-text, .viet-text{
    padding: 20px 0;
}

.intro-text .eng-text h2{
    padding: 20px 0 40px 0;
    font-family: "Playfair Display", serif !important;
    color: #b2003b !important;
    font-style: italic;
}

.eng-text p, .viet-text p{
    text-align: justify;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 300 !important;
}

.eng-text p{
    font-style: italic;
    color: #b2003b;
}

.marquee{
    background-color: #b2003b;
    overflow: hidden;
    position: relative;
    user-select: none;
    display: flex;
    gap: 1rem;
    padding: 14px 0;
}

.marquee .marquee-content{
    flex-shrink: 0;
    display: flex !important;
    justify-content: space-around;
    min-width: 100%;
    gap: 1rem;
}

.marquee h2{
    font-family: "Playfair Display", serif !important;
    color: #f4a2b0;
    font-style: italic;
    white-space: nowrap;
    padding: 0 2rem;
}

.pink{
    background-color: #f4a2b0;
}

.marquee.pink .marquee-content h2{
    color: #b2003b;
}

.scroll{
    animation: scroll 20s linear infinite;
}

.reverse{
    animation-direction: reverse;
}

.section.logo{
    margin-top: 60px;
    height: 80vh;
    padding: 0;
}

.section.logo .col-xl-6.right{
    background-color: #b2003b;
    display: grid;
    animation: reveal ease-out both;
    animation-timeline: view();
    animation-range: cover 10% cover 60%;
}

.section.logo .col-xl-6.left{
    background-color: #f4a2b0;
    display: grid;
    animation: reveal-reverse ease-out both;
    animation-timeline: view();
    animation-range: cover 10% cover 60%;
}

.section.logo .col-xl-6.left img, .section.logo .col-xl-6.right img{
    display: block;
    width: 60%;
    align-self: center;    
    margin: auto;
}


.section.images{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    animation: zoomshow ease-out both;
    animation-timeline: view();
    animation-range: cover 15% cover 40%;
}

.section.images .col-xl-6.left img, .section.images .col-xl-6.right img{
    height: 80vh;
    width: 100%;
    object-fit: cover;
}

.section.images .col-xl-6.left img{
    animation: reveal ease-out both;
    animation-timeline: view();
    animation-range: cover 10% cover 50%;
}

.section.images .col-xl-6.left img{
    animation: reveal-reverse ease-out both;
    animation-timeline: view();
    animation-range: cover 10% cover 50%;
}

.section.images.colors .col-12 .pallete-name{
    padding: 60px 0;
    width: fit-content;
    margin: auto;
    animation: reveal ease-out;
    animation-timeline: view();
    animation-range: cover 20% cover 50%;
}

.section.images.colors .col-12 .pallete-name h2{
    font-family: "Playfair Display", serif !important;
    color: #b2003b !important;
    font-style: italic;
}

.section.images.colors .col-12 .pallete{
    list-style: none;
    display: flex;
    width: 30%;
    margin: auto;
    justify-content: space-between;
    padding: 0 0 60px 0;
}

.col-12 .pallete .color1, .color2, .color3, .color4, .color5{
    height: 30vh;
    width: 4vw;
    display: flex;
    align-items: flex-end;
}

.col-12 .pallete .color1{
    background-color: #760c2f;
}
.col-12 .pallete .color2{
    background-color: #b2003b;
}
.col-12 .pallete .color3{
    background-color: #e15981;
}
.col-12 .pallete .color4{
    background-color: #f4a2b0;
}
.col-12 .pallete .color5{
    background-color: #f9dce4;
}

.col-12 .pallete li h3{
    padding-top: 3vmin;
    rotate: -90deg;
}
.col-12 .pallete .color1 h3{
    color: #f9dce4;
}
.col-12 .pallete .color2 h3{
    color: #f9dce4;
}
.col-12 .pallete .color3 h3{
    color: #f9dce4;
}
.col-12 .pallete .color4 h3{
    color: #b2003b;
}
.col-12 .pallete .color5 h3{
    color: #b2003b;
}

.section.box .col-xl-6{
    height: 100vh;    
}

.section.box .col-xl-6.left img{
    height: 100%;
    object-fit: cover;
    animation: reveal ease-out;
    animation-timeline: view();
    animation-range: cover 10% cover 40%;
}

.section.box .col-xl-6.right {
    animation: reveal-reverse ease-out both;
    animation-timeline: view();
    animation-range: cover 10% cover 40%;
}

.section.cover{
    width: 100%;
}

.section.cover .col-12 img{
    padding: 0;
    animation: zoomshow ease-out both;
    animation-timeline: view();
    animation-range: cover 10% cover 50%;
}

.section.cover .col-xl-6 img{
    object-fit: contain !important;
}

.carousel.slide .carousel-inner .carousel-item{
    transition: transform 0s ease;
}

@keyframes scroll {
    from{
        transform: translateX(0);
    }

   to{
        transform: translateX(calc(-100% - 1rem));
    }
}

@keyframes reveal {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  
    from{
      transform: translateX(-600px);
    }
  
    to{
      transform: translateX(0);
    }
  }
@keyframes reveal-reverse {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  
    from{
      transform: translateX(600px);
    }
  
    to{
      transform: translateX(0);
    }
  }

@keyframes zoomshow {
    0%{
        opacity: 0;
        clip-path: inset(70% 40% 70% 40%);
    }
    
    100%{
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);
    }
}

/* tablet screen size */
@media screen and (max-width: 1024px) {
    h1{
        font-size: 10vmin !important;
    }
  
    h2{
      font-size: 3.75vmin;
      text-align: center;
    }
  
    h3{
        font-size: 3.5vmin !important;
    }

    .banner .banner-text{
        width: 50%;
        padding-top: 50%;
    }

    .section{
        width: 90%;
    }

    .section .col-12 img{
        animation: zoomshow ease-out both;
        animation-timeline: view();
        animation-range: cover 4% cover 30%;
    }

    .section .col-md-12.left .redgirl{
        padding: 2vmin 0;
        width: 100%;
    }

    .col-md-12.right .intro-text{
        padding: 0 2vmin;
        width: 95%;
        animation-range: cover 4% cover 30%;
    }

    .intro-text .eng-text{
        padding: 0;
    }

    .section.logo .col-md-12.left{
        animation-range: cover 4% cover 20%;
    }

    .section.logo .col-md-12.right{
        animation-range: cover 4% cover 20%;
    }

    .section.images{
        animation: none;
    }
    .section.images .col-md-12.left img{
        animation: none;
    }

    .section.images.section.images.colors .col-12 .pallete{
        width: 65%;
    }

    .col-12 .pallete .color1, .color2, .color3, .color4, .color5{
        width: 8vw;
    }

    .section.box .col-md-12.left img{
        animation-range: cover 4% cover 20%;
        width: 100%;
    }

    .section.box .col-md-12.right img{
        animation-range: cover 4% cover 20%;
    }

    .section.cover .col-12 img{
        animation-range: cover 4% cover 24%;
    }
}
/* mobile screen size */
@media screen and (max-width: 480px) {
    h1{
        font-size: 8vmin !important;
    }
  
    h2{
      font-size: 3vmin;
      text-align: center;
      line-height: 0;
    }
  
    h3{
        font-size: 2.75vmin !important;
    }

    .banner{
        height: 60vh;
    }

    .banner .banner-text{
        padding-top: 60%;
    }

    .section .col-sm-12.left{
        width: 100%;
    }

    .section .col-sm-12.left .redgirl{
        height: 50vh;
        object-fit: cover;
    }

    .section.logo .col-sm-12.left{
        animation: none;
    }

    .section .col-sm-12.right .intro-text{
        margin: auto;
    }

    .section.logo .col-sm-12.right{
        animation: none;
    }
    
    .section.images .col-sm-12.left img{
        height: 50vh;
    }

    .section.images .col-sm-12.right img{
        height: 50vh;
    }
    
    .section.images.colors{
        animation: none;
    }

    .section.images.colors .col-12 .pallete-name{
        animation: none;
    }

    .section.images.section.images.colors .col-12 .pallete{
        width: 80%;
    }

    .col-12 .pallete .color1, .color2, .color3, .color4, .color5{
        width: 12vw;
    }

    .col-12 .pallete li h3{
        padding-top: 8vmin;
    }

    .section .col-12 img{
        animation: none;
    }

    .section.box .col-sm-12{
        height: 40vh;
    }

    .section.box .col-sm-12.left img{
        animation: none;
        height: 40vh;
        padding-top: 20px;
    }

    .section.box .col-sm-12.right {
        animation: none;
        width: 100%;
        height: 50vh;
    }

    .section.box .carousel-item img{
        width: 100%;
    }

    .section.box .carousel{
        height: fit-content;
    }

    .section.box .col-sm-12.right .carousel{
        height: 50vh;
    }

    .carousel .carousel-inner{
        height: 100%;
    }

    .carousel-item{
        height: 100%;
    }

    .carousel-item img{
        height: 100%;
        object-fit: cover;
    }

    .section.cover .col-12 img{
        animation: none;
    }
}
    






