body{
    background-color: var(--white-creamy--) !important;
    width: 100vw;
  }
  
#navbar{
    position: fixed;
    background-color: var(--white-creamy--);
}

#navbar .nav-link:hover h4{
    transform: rotate(-6deg);
}

h1{
	color: var(--red-dark--) !important;
}

h3{
	color: var(--red-dark--) !important;
    font-size: 1.75rem;
	font-weight: 400 !important;
}

h4{
    font-size: 1.25rem !important;
}

.intro-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
    filter: sepia(50%);
}

.section{
	position: relative;
	padding-top: 15vh;
	width: 100%;
	margin: auto;
}

.section .heading{
	width: fit-content;
	margin: auto;
}

.section .content{
	width: 40vw;
	margin: auto;
}

.section .content h3{
	text-align: center;
	line-height: 1.5;
}

.slides {
    list-style: none;
    overflow: scroll;
    width: 80vw;
    margin: 0 auto;
    white-space: nowrap;
    padding: 10vh 0 5vh 0;
    margin: auto;
	display: flex;
	gap: 2rem;
}

.slides:not(.dragging) {
    scroll-snap-type: x mandatory;
}

.slide {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 60vmin !important;
    scroll-snap-align: center;
    position: relative;
    overflow: clip;
}

/* small desktop size */
@media screen and (device-width: 1440px) and (max-width: 1440px) {
	
	h1{
        font-size: 14vmin !important;
    }
	
	h3{
		font-size: 1.5rem !important;
	}

	h4{
		font-size: 1rem !important;
	}

    #navbar{
        border-width: 1.5px;
    }

	.section .content{
		width: 70%; 
	}

	.slide{
		width: 100%;
	}

	.slide img{
		width: 30vw;
		object-fit: cover;
	}
}

/* tablet screen size */
@media screen and (max-width: 1024px), (device-width:1024px) {
	h1{
        font-size: 12vmin !important;
    }

	h3{
		font-size: 1.25rem !important;
	}
    h4{
        font-size: 14px !important;
    }

	.section .content{
		width: 80%;
	}

	.slides{
		padding-top: 6vh;
	}

	.slide img{
		width: 40vw;
	}
}

/* mobile screen size */
@media screen and (max-width: 480px){
	h1{
        font-size: 20vmin !important;
        line-height: 1 !important;
		padding-bottom: 3vh;
    }

	h3{
		font-size: 1rem !important;
	}

	.section{
		padding-top: 14vh;
	}

	.slide img{
		width: 60vw;
		height: auto;
		object-fit: cover;
	}
	
}