html{
    height: 100vh;
    overflow: hidden;
}
h3{
    font-size: 1.75rem;
}

h4{
    font-size: 1.25rem !important;
}

p{
    font-size: 1.2rem !important;
}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffefe3 !important;
}

.nav-link h4{
    color: rgb(189, 10, 108);
}

.section1{
    width: 100%;
    height: 100vh;
    transform-style: preserve-3d;
    position: relative;
}

.text{
    position: absolute;
    width: 100%;
    top: -1vmin;
    transform: translateZ(0.5px) scale(0.5);
}

.text::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(img/soigao/boxes.png) top center;
    background-size: cover;
    transform: translateZ(-1px) scale(1) translate(10px,20px);
}

.text img{
    width: 100%;
}

.section1::before{
    content: "";
    width: 100%;
    height: 90%;
    position: absolute;
    background: url(img/soigao/base.png) top center;
    background-size: cover;
    transform: translateZ(-1px) scale(2,1.8) translateY(-8px);
}

.section1::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(img/soigao/elements.png) center -40px no-repeat;
    background-size: cover;
}

.section3 {
    width: 100%;
    padding: 30px 0;
    position: absolute;
    background-color: #ffefe3;
}

.section3, .row p{
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    font-weight: 300;
    color: #043a2d;
}

.section3, .row h2{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #043a2d;
    padding-bottom: 20px;
}

.section2 .eng-text, .section2 .viet-text, .row.intro .eng-text, .row.intro .viet-text{
    padding: 20px 20%;
    margin: auto;
}

.viet-text p{
    font-weight: 300;
    color: rgb(189, 10, 108)
}

.section3 .logo{
    width: 80%;
    margin: auto;
}

.logo img{
    width: 100%;
    animation: zoomshow both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
}

.section3 .row{
    width: 80%;
    margin: auto;
    padding: 30px 0;
    animation: reveal ease-out both;
    animation-timeline: view();
    animation-range: cover 10% cover 30%;
}

.row.image .col-lg-6{
    padding-top: 0;
}

.row.image .col-6.right .row.top{
    width: 100%;
    padding: 0;
}

.col-lg-6.right .row.top img{
    width: 100%;
    height: 100%;
    padding: 0;
}

.row.image .col-lg-6.right .row.bot{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 0;
}

.col-lg-6.right .row.bot img{
    padding: 0;
}

.col-lg-6 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.structure{
    height: 36vh;
    padding: 40px 0;
    background: url(img/soigao/structure-06.png) center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.grid{
    height: 36vh;
    padding: 40px 0;
    background: url(img/soigao/grid\ logo-06.png) center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.row.stationery .col-6.idcard img{
    width: 100%;
    object-fit: cover;
}

.row .col-12.layout img{
    width: 100%;
    object-fit: cover;
    padding-top: 20px;
    animation: zoomshow both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
}

.row.pattern{
    width: 40%;
}

.row.items{
    animation-range: entry 5% cover 10%;
}

.row.pattern .carousel-inner{
    height: 40vh;
}

.row.pattern .carousel.slide .carousel-inner img{
    height: 100%;
}

.carousel-item{
    transition: transform 0s ease !important;
}

.col-lg-6.right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col-lg-6{
    padding-top: 20px;
}

@keyframes reveal {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  
    from{
      transform: translateX(300px);
    }
  
    to{
      transform: translateX(0);
    }
  }

@keyframes zoomshow {
    0%{
        opacity: 0;
        clip-path: inset(70% 40% 70% 40%);
    }
    
    100%{
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);
    }
}

/* tablet screen size */
@media screen and (max-width: 1024px) {
    h1{
        font-size: 10vmin !important;
    }
  
    h3{
        font-size: 2.25vmin !important;
    }

    h2{
        text-align: left;
    }

    .text{
        top: 22vmin;
        height: 80vh;
        margin: auto;
    }

    .text img{
        scale: 150%;
    }
    
    .text::before{
        width: 100%;
        background: url(img/soigao/boxes.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-x: center;
    }

    .section1::before{
        background: url(img/soigao/base.png);
    }
    
    .section1::after{
        height: 90%;
        top: 10%;
        background: url(img/soigao/elements.png) cover;
    }

    .row.intro .eng-text{
        padding: 2vmin 10%;
    }

    .row.intro .viet-text{
        padding: 2vmin 10%;
    }

    .structure{
        width: 100%;
        height: 20vh;
        padding: 20px 0;
        background: url(img/soigao/structure-06.png) center;
        background-size: 90%;
        background-repeat: no-repeat;
    }
    
    .grid{
        width: 100%;
        height: 20vh;
        padding: 20px 0;
        background: url(img/soigao/grid\ logo-06.png) center;
        background-size: 90%;
        background-repeat: no-repeat;
    }

    .row.pattern{
        width: 80%;
    }

  }
  
/* mobile screen size */
@media screen and (max-width: 480px) {
    h1{
        font-size: 10vmin !important;
    }
  
    h2{
      font-size: 3.75vmin;
      text-align: left;
    }
  
    h3{
        font-size: 3.5vmin !important;
    }
  
    .text{
        top: 30vmin;
        height: 80vh;
        margin: auto;
    }

    .text img{
        scale: 160%;
    }
    
    .text::before{
        width: 100%;
        background: url(img/soigao/boxes.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-x: center;
    }

    .section1{
        height: 80vh;
    }

    .section1::before{
        background: url(img/soigao/base.png);
        height: 80vh;
        top: -5%;
    }
    
    .section1::after{
        height: 80vh;
        top: 10%;
        background: url(img/soigao/elements.png) cover;
    }

    .section3{
        padding: 15px 9;
    }

    .section3 .row{
        animation: none;
    }

    .section3 .row.intro{
        padding: 6vmin 0;
    }

    .row.intro .eng-text{
        padding: 1.5vmin 3%;
    }
    
    .row.intro .viet-text{
        padding: 1.5vmin 3%;
    }

    .section3 .logo{
        width: 90%;
        height: 60vh;
        margin: auto;
    }

    .section3 .logo img{
        height: 100%;
        object-fit: cover;
        animation-range: entry 5% cover 30%;
    }

    .section3 .row{
        width: 90%;
        padding: 2vmin 0;
    }

    .structure{
        width: 100%;
        background-size: 100%;
    }
    
    .grid{
        width: 100%;
    }

    .row.image{
        width: 90%;
    }

    .row.image .col-sm-12{
        padding: 0 1%;
    }

    .row.image .col-sm-12.right .row.top{
        width: 100%;
    }

    .row.image .col-sm-12.right .row.bot{
        padding-top: 0;
        width: 100%;
    }

    .col-sm-12{
        padding-top: 2vmin;
    }

    .col-sm-12 img{
        width: 100%;
    }

    .row .col-12.layout img{
        padding-top: 2vmin;
    }

    .row.items{
        padding-top: 0;
    }

    .row .col-12.layout img{
        animation: none;
    }
    }