
body{
  background-color: var(--white-creamy--) !important;
  width: 100vw;
}

#navbar{
    position: relative;
}

.projects{
  width: 80%;
  padding-top: 10vh;
  margin: auto;
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 35% cover 40%;
}

.projects .heading h1{
  font-family: "Staatliches", sans-serif;
  color: var(--red-dark--);
}

.projects .heading{
  width: 70%;
  margin: auto;
}

.projects .heading h4{
  color: var(--red-dark--);
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.projects .list-pj{
  padding-top: 8vh;
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
}

.pj{
  width: 30%;
  transition: 0.2s;
}

.pj a{
  cursor: pointer;
}

.pj:hover{
  transform: translateY(-6%);
  transition: 0.4s;
}

.pj img{
  width: 35vmin;
  height: 45vmin;
  object-fit: cover;
}

.pj .name{
  padding: 20px 0px;
}

.pj .name h2{
  color: var(--blue-dark--);
}

.pj .tags{
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
}

.pj .tags p{
  color: var(--blue-medium--);
}

.pj .cta-btn{
  padding: 20px 0px;
}

.pj .cta-btn p{
  color: var(--blue-dark--);
}

.quote-section{
  width: 100%;
  background-color: var(--blue-highlight--);
  margin-top: 3vh;
}

.quote-section .marquee{
  background-color: var(--blue-highlight--);
  overflow: hidden;
  position: relative;
  user-select: none;
  display: flex;
  gap: 1rem;
  padding: 14px 0;
}

.marquee .marquee-content{
  flex-shrink: 0;
  display: flex !important;
  justify-content: space-around;
  min-width: 100%;
  gap: 1.5rem;
}

.scroll{
  animation: scroll 20s linear infinite;
}

.quote-section h2{
  width: fit-content;
  margin: auto;
  color: var(--white-creamy--);
}

@keyframes fade{
  0%{
      opacity: 0%;
  }

  100%{
      opacity: 100%;
  }
}

@keyframes reveal {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }

  from{
    transform: translateX(300px);
  }

  to{
    transform: translateX(0);
  }
}

@keyframes slideInRight{
  from{
    transform:  translateX(600px);
  }

  to{
    transform: translateX(0);
  }
}

@keyframes scroll {
  from{
      transform: translateX(0);
  }

 to{
      transform: translateX(calc(-100% - 1rem));
  }
}

/* tablet screen size */
@media screen and (max-width: 1024px) {
  h1{
      font-size: 10vmin !important;
  }

  h3{
      font-size: 2.25vmin !important;
  }

  .projects{
    width: 90%;
    padding-top: 4vh;
  }

  .projects .list-pj{
    justify-content: space-between;
  }

  .projects .list-pj .pj{
    width: 45%;
  }

  .pj img{
    width: 100%;
  }
}

/* mobile screen size */
@media screen and (max-width: 480px) {
  h1{
      font-size: 10vmin !important;
  }

  h2{
    font-size: 3.75vmin;
  }

  h3{
      font-size: 3.5vmin !important;
  }

  .projects{
    width: 95%;
    margin: auto;
    padding-top: 4vh;
    animation: none;
  }

  .projects .list-pj{
    padding-top: 3vh;
    gap: 0;
  }

  .projects .list-pj .pj{
    width: 90%;
    margin: auto;
  }

  .pj img{
    width: 100%;
    height: 50vh;
  }
  }